
ul li, ul li a, h1, p, h2, h3 {
    
    display: inline;
    text-decoration: none;
    color: whitesmoke;
    

}
.ol, ol{
    color: whitesmoke;
}

p, h3 {
    padding-top: 7px;
}


    
ul li {
    padding:2%;
    border:1px solid white;
    margin: auto;
}

.nav {

    margin: 1px 1px -9px 103px;
    padding: 1px 1px 1px 1px;


}

body {
    padding:2%;
    background-color: black;
    font-family: "Playfair Display", serif; 
}

h1 {
    color: whitesmoke;
    font-weight: 600px;
    font-size: 40px;
    font-size:2em;
    line-height: 3em;
    
}

h1 {
    color: white;
    font-weight: 600px;
    font-size: 40px;
}





img {
    display: block; 
    padding-top: 20px; 
}
.wrap {
   
        max-width: 650px;
        margin: 0 auto;
    
    background-color: darkslateblue

}
.box {
  padding: 20px 1px;
  margin: -1px 10px;
}

.title{
    text-align: center; 
}

a {
    color: yellow; 
  }


