
ul li, ul li a, h1, p, h2 {
    justify-content: center;
    align-items: center;
    display: inline;
    text-decoration: none;
    color: black;
    

}
.ol, ol{
    color: black;
}

p {
    margin: 1px 1px 1px 1px;
    padding-top: 5px;
    color: white;
}
    
ul li {
    padding:4% 4%;
    margin: auto;
    padding: auto;
}

nav ul li {
    display: inline-block;
    margin: 15px; 
  }

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 35px 0;
}

.logo {
    background-color: #fffdf8;
    padding: 49px 0px 10px 0px;
    margin: -40px 0px -21px 0px;
}
.nav {
    background-color: #fffdf8;
    text-align: center;
    justify-content: center;
    margin: 20px 0px -18px 0px;
    padding: 1px 1px 1px 27px;


}

body {
    padding: 0 2%;
    background-color: #1e1e1e;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1 {
    color: black;
    font-weight: 600px;
    font-size: 40px;
    font-size:2em;
    line-height: 3em;
    
}

h1 {
    color: black;
    font-weight: 600px;
    font-size: 40px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    display: block; 
    padding-top: 20px; 
}

.wrap {
max-width: 1200px;
margin: 0 auto;
    
}
.box {
    background-color:  #232626;
    padding: 20px 1px;
    margin: 0px 0px;
}

.title {
    text-align: center; 
}

h6 {
    font-family: "Meddon", cursive;
    font-weight: 100;
    font-style: normal;
    color: white;
    padding: 0px 0px 0px 0px;
    margin: -285px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.h7 {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    color: #d3a771;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
}

.h8 {
    font-family: "inter", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding: 0px 0px 97px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px
}

h3 {
    font-family: "inter", serif;
    font-weight: 600;
    font-size: x-large;
    font-style: normal;
    color: white;
    padding: 120px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    font-family: "inter", serif;
    font-weight: 200;
    font-size: large;
    font-style: normal;
    color: white;  
    padding: 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    font-family: "Inter", serif;
    font-size: medium;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style:normal;
    color: white;
    border: 1px solid white; 
    padding: 14px 0px 13px 28px;
    margin: 1px 510px 1px 297px;
    display: inline-block; 
    display:flex;
    text-align: center;
}



form.contact input.button {
	font-size: 14px;
	font-weight: 300;
    font-size: medium;
	letter-spacing: 1px;
	color: black;
	padding: 8px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	width: 150px;
	background-color: #edbe64;
    padding: 14px 10px 14px 10px;
    margin: -49px 0px -19px 729px;
    display: flex;
}

.bottomcenter {
    height: 175px ;
}


.aboutus {
    background-color: #000000;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 336px 0px;
    
}

.aboutus1 {
    padding: 13% 15% 0 15%;
    display:flex;

}

.aboutus11 {
    display:flex;
    flex-direction: column; 
    padding: 1px 1px 1px 1px;
}


.maintext {
    color: #D3A771;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: bold;
    font-size:xx-large;
    padding: 7px 0px 0px 86px;
    margin: 0px 0px 19px -85px;
}


.subtext {
    color: whitesmoke;
    font-family: "inter", serif;
    font-weight: 400;
    font-style: semibold;
    font-size: xlarge; 
    padding: 7px 59px 0px 90px;
    margin: 0px 0px 0px -85px;
}

.pix1 {
    display: flex; 
    justify-content: center; 
    height: 100%; 
    width: 100%;
    margin: 0; 
    margin;
}

.about1pic {
    
    padding: 50px 0px 0px 0px;;
    margin: -13px 1px 1px 1px;

}

.aboutus2 {
    
    max-height: 1200px;
    padding: 0px 0px 50px 0px;
    margin: 0px 268px 0px 177px;
}

.aboutus22 {
    
    padding: 0px 0px 0px 0px;
    margin: 0px 330px 0px 0px;
 
}

.about2pic {
    display: flex;
    padding: 0px -6px 0px 0px;
    margin: -245px -36px 0px 445px;
}

.aboutus3 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.aboutus3left {
    padding: 0px 0px 50px 0px;
    margin: 0px 361px 0px 0px;
}

.about3pic {
    padding: 0px 0px 50px 0px;
    margin: 0px 0px 0px 0px;
}

.aboutus3right {
    display: flex;
    padding: 0px 0px 50px 0px;
    margin: -644px -101px 0px 441px;
}


.pix2 {
    display: flex; 
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 50px 57px 50px 0px;
}

.pix3 {
    padding: 0px 0px 0px 0px;
    margin:  50px 90px 50px 0px;
}

.pix4 {
    padding: 0px 0px 0px 0px;
    margin: 100px 90px 60px 0px;
}

.aboutus4left {
    padding: 0px 0px 50px 0px;
    margin: 0px 361px 0px 0px;
}

.aboutus4right {
    display: flex;
    padding: 0px 0px 50px 0px;
    margin: -496px -101px 0px 441px;
}

.aboutus4 {
    
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.aboutuswrap {
    padding: 0% 0% 0% 0%;
    margin:  0% -3% 0% 3%;
}

.pix5 {
    display: flex;
    justify-content: center;
     padding: 0px 0px 0px 0px;
 margin: -21px 0px 0px 0px;
}

.menu {
    background: black;
    padding: 9% 15%;
}

.menu1 {
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
}

.menu1pic {
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
}

.menutitle {
    color: #D3A771;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: bold;
    text-decoration: underline;
    font-size: 45px;
    padding: 89px 0px 2px 1px;
    margin: 1px 1px 1px 1px;
    display:flex;
    text-align: center;
    justify-content: center;
}

.menusub {
    color: whitesmoke;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    font-size:34px;
    padding: 20px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    display:flex;
    text-align:left;
}


.menubox {
    display: flex;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between; 
    gap: 5px;
}

.menubox1 {
    display: flex;
    flex-direction: column; 
    text-align: left;
    padding: 25px 294px 25px 25px; 
    border: 1px solid #d3a771; 
    border-radius: 1px; 
    display: inline-block;
   
}

.menuname {
    color: aliceblue;
    font-family: "inter", serif;
    font-weight: 400;
    font-style: semibold;
    font-size: xlarge; 
    display:flex;
    text-align:left;
    padding: 0px 0px 17px 0px;
    margin: 0px 0px 0px 0px;
}

.menucost {
    color: #ABABAB;
    font-family: "inter", serif;
    font-weight: 400;
    font-style: semibold;
    font-size: xlarge; 
    display:flex;
    text-align:left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.menuboxleft  {
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 0px 0px;
}

.menuboxright {
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 0px 0px;
}

.menuinfo {
    color: #ABABAB;
    display:flex;
    text-align:left;
    font-family: "inter", serif;
    font-weight: 400;
    font-style: semibold;
    font-size: xlarge; 
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
}

.menubox2 {
    display: flex;
    flex-direction: column; 
    text-align: left;
    padding: 25px 25px 25px 25px; 
    border: 1px solid #d3a771; 
    border-radius: 1px; 
    display: inline-block;
   
}

.toast {
    padding: 0px 0px 20px 0px;
}

.togo11 {
    color: #ffffff;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: bold;
    font-size:xx-large;
    padding: 0px 83px 0px 0px;
    margin: 0px 0px 19px 0px;
}

.togo1 {
    padding: 13% 15% 0 29%;
    display:flex;
}

.togo2pic {
    display: flex;
    padding: 0px -6px 0px 0px;
    margin: -434px -34px 0px 445px;
}

.togo {
    background-color: #000000;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 503px 0px;
    
}

.togomaintext {
    color: #D3A771;
    font-family: "Judson", serif;
    font-weight: 600;
    font-style: bold;
    font-size:xx-large;
    padding: 60px 0px 0px 0px;
    margin: 0px 0px 19px 0px;
    display: flex;
    justify-content: center;
}


.togosubtext {
    color: whitesmoke;
    font-family: "inter", serif;
    font-weight: 400;
    font-style: semibold;
    font-size: xlarge; 
    padding: 7px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.togo22 {
    
    padding: 0px 0px 0px 0px;
    margin: 0px 400px 0px 0px;
}

.ordernowl {
    color: #D3A771;
    font-family: "inter", serif;
    font-weight: 400;
    font-style: semibold;
    font-size: xlarge; 
    padding: 26px 11px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.togomaintextr {
    color: #D3A771;
    font-family: "Judson", serif;
    font-weight: 600;
    font-style: bold;
    font-size:xx-large;
    padding: 60px 0px 0px 0px;
    margin: 0px 0px 19px 0px;
    display: flex;
    justify-content: center;
}


.togosubtextr {
    color: whitesmoke;
    font-family: "inter", serif;
    font-weight: 400;
    font-style: semibold;
    font-size: xlarge; 
    padding: 7px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
}


.ordernowr {
    color: #D3A771;
    font-family: "inter", serif;
    font-weight: 400;
    font-style: semibold;
    font-size: xlarge; 
    padding: 26px 11px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.togoright {
    padding: 0px 0px 0px 0px;
    margin: 0px -490px 0px 0px;
}





.contact11 {
    color: #D3A771;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: bold;
    font-size:xx-large;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


.contact1 {
padding: 13% 23% 0 20%;
}




.subtext2 { 
    color: #ffffff;
        font-family: "inter", serif;
        font-weight: 400;
        font-style: semibold;
        font-size: xlarge; 
        padding: 50px 136px 0px 87px;
        margin: 0px 0px 0px -85px;
    }



.subtext3 { 
color: #D3A771;
    font-family: "inter", serif;
    font-weight: 400;
    font-style: semibold;
    font-size: xlarge; 
    padding: 50px 59px 0px 87px;
    margin: 0px 0px 0px -85px;
}

.address {
    color: #ffffff;
    font-family: "inter", serif;
    font-weight: 400;
    font-style: semibold;
    font-size: xlarge; 
    padding: 50px 59px 0px 87px;
    margin: 0px 0px 0px -85px;
}


.contactr {
    padding: 0px 426px 0px 0px;
    margin: 0px 0px 0px -0px;
}


.contactl{
    display: flex;
    justify-content: right;
    padding: 0px 127px 0px 217px;

    margin: -85px -27px 0px 113px;
}

.contactform {
    color: #ABABAB;
    display: inline-block; 
    padding: 0px 488px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.name {
    border: 1px solid #ABABAB;
    padding: 15px;
    margin: 60px -230px 0px 0px;
}

.email {
    display: flex;
    border: 1px solid #ABABAB;
    padding: 15px;
    margin: -52px -530px 10px 300px;
}

.phonenumber {
    border: 1px solid #ABABAB;
    padding: 15px;
    margin: 60px -530px 10px 0px;
}

.comment {
    border: 1px solid #ABABAB;
    padding: 15px 15px 100px 15px;
    margin: 60px -530px 10px 0px;
}

.contact {
    background-color: #232626;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 503px 0px;
}

.submit {
    color: #000000;
    background-color: #D3A771;;
    display: flex;
    border: 1px solid #000000;
    padding: 15px 71px 15px;
    margin: 50px -530px 10px 330px;
}

    .contactwrap{
        padding: 0% 0% 0% 0%;
        margin:  0% -8% 0% 8%;
    }
