body {
	background-color: #d1dfe1;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

p {
    font-size: 0.8em;
    
}

main {
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
	padding: 30px;
}

.button {
	margin: 30px 0;
	width: 75px;
	height: 75px;
	background-color: purple;
	border-radius: 50%;
	transition: 1s;
}

.button:active {
	margin: 30px 0;
	background-color: lightblue;
	border-radius: 0%;
	transition: 4s;
}

.square {
	width: 75px;
	height: 75px;
	background-color: rgb(94, 142, 94);
	border-radius: 4px;
	transition: 500mss;
	margin: 30px 0;
}

.square:hover {
	width: 600px;
	height: 600px;
	background-color: rgb(255, 0, 200);
	border-radius: 60px;
	margin: 30px 0;
	transition: 1500ms;
}

.cat03 {
	width: 400px;
	filter: blur(200px) ;
}

.cat03:hover {
	filter: blur(0px) ;
	transition: 2s;
}

.cat01 {
	width: 400px;
	filter: saturate(0%) ;
	transition: 2s;
}

.cat01:hover {
	filter: saturate(200%) ;
	transition: 2s;
}

.cat02 {
	width: 400px;
	filter: contrast(400%) ;
	transition: 2s;
}

.cat02:active {
	filter: contrast(0%) ;
	transition: 300ms;
}

.text {
	font-family: "Outfit", serif;
	font-size: xx-large;
}

.text:hover {
	font: 300 42px "Cedarville Cursive", cursive;
	font-style: italic;
	font-weight: 800;
	color:red;
	transition: 4s;
}

.h2 {
	font-size: medium;
	font-weight: 20;
}